version: '3.8'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: mtg_user
      POSTGRES_PASSWORD: magic123
      POSTGRES_DB: mtg_scanner
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: